
h1, h2, h3, h4, p {
	font-family: 'Roboto', sans-serif !important;
	color:white;

}
body {
	background-color: #000;
}
.carousel {
	height: 100%;
	width: 100%;
	margin-top: 90px;
	background-color: black;
	max-height: 400px;


}

.col-md-4 {
	text-align: center;
}

.itemLabel {
	margin-top: 30%;
	text-align: center;
}