
h1, h2, h3, h4, p {
	font-family: 'Roboto', sans-serif !important;
	color:white;

}
body {
	background-color: #000;
}
.carousel {
	height: 100%;
	width: 100%;
	margin-top: 80px;
	background-color: black;
	min-height: 600px;


}