h1, h2, h3, h4, p {
	font-family: 'Roboto', sans-serif;

}

.row {
	min-height: 600px;
	background-color: black;
}

.card .btn {
	background-color: #59b6f9;
}

.card .btn:hover{
	
	background-color: #007bff;
}

.aboutSection  {
	background-color: #424040;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

.introSection {
	background-image: url("../assets/robinOne.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}

.nameTitle{
	font-size: 7em;
	color: rgba(0,0,0,.8);
	margin-left: 2%;
	margin-top: 35%;
	text-outline: 4px 4px #fff;
	text-shadow: 1px 1px rgba(100,100,100,.7);
}

.subnameTitle{
	font-size: 3.5em;
	color: rgba(0,0,0,.8);
	float: right;
	margin-left: 55%;
	text-outline: 3px 3px #fff;
	text-shadow: 1px 1px rgba(100,100,100,.7);
	padding-right: 10px;
}


.outroSection {
	background-image: url("../assets/robinTwo.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.outroTitle {
	font-size: 3em;
	color: rgba(0,0,0,.8);
	margin-left: 2%;
	margin-top: 5%;
	text-outline: 4px 4px #fff;
	text-shadow: 1px 1px rgba(100,100,100,.7);

}
.card {
	background-color: #000;
	margin-top: 25px;
}

.card h4, p {
	color: #fff;
}

.card-img-top {
	width: 100%;
	max-height: 300px;
	overflow: hidden;
	
}

.socialFooter {
	list-style: none;
	display: inline-flex;
	margin-right: 20px;
	margin-bottom: 0px;
}
.fa {
	color: white;
	margin: 0px 15px 0px 15px

}